<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.service.TestMapper">

	<select id = "selectTest" resultType="egovframework.example.vo.EgoVo">
		SELECT *
		FROM `worker`
	</select>
	
	<select id = "selectDetail" parameterType="String" resultType="egovframework.example.vo.EgoVo">
		SELECT *
		FROM `worker`
		WHERE `NAME`=#{name}
	</select>
</mapper>